@charset "utf-8";
/* CSS Document */
/* Created by Michael Woo - google used for research but no bootstrap used*/

/* Defines the Background as the Elevator Picture */
body {
    background-image: url(../_images/elevatorbackground.jpg);
    background-size: 100%;
    background-repeat: no-repeat;
    /* Positions the Background on the page, -x% -y% */
	background-position: 50% 0%;
}

/* Creates a Solid Black Yellow-Colored Border for the "Michael's Woo's Homepage" Title */
.title {
    border-style: outset;
    border-width: 8px;
    border-color: #CDCDCD;
    background-color: black;
    border-radius: 25px;
	-webkit-box-shadow: 2px 4px 5px black;
    -moz-box-shadow: 2px 4px 5px black;
    box-shadow: 2px 4px 5px black;
    color: white;
    text-align: center;
    line-height: 75px;
    padding: 7px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
    height: 130px;
    width: 340px;
    font-size: 20px;
    margin: auto;
    position: absolute;
    left: 36.6%;
    top: 3.5%;
}


/* Creates a #CDCDCD Colored Border that the 'Elevator Panel' is Held in */
.panel {
    border-style: ridge;
    border-color: #5B5A5A;
    border-width: 5px;
    border-radius: 40px;
    background-color: #CDCDCD;
    color: black;
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 30px;
    margin: auto;
}
/* Creates a #CDCDCD Colored Border that the 'Pincode Panel' is Held in */
.panel2 {
    border-style: ridge;
    border-color: #5B5A5A;
    border-width: 5px;
    border-radius: 40px;
    background-color: #CDCDCD;
    color: black;
	height: 200px;
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 30px;
    margin: auto;
	position: fixed;
	bottom: 0%;
}

#label {
  text-align: center;
  line-height: 30px;
  color: white;
}

.btn {
    background-color: #E0E0E0;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: inset;
    border-color: black;
    border-width: 2px;
    display: inline-block;
    text-decoration: none;
	width: 100px;
    text-align: center;
    margin: 4px;
	/* Makes it so that when hovered over with a cursor, shows the "pointer" cursor (The one that looks like a hand) */
    cursor: pointer;
    transition: all ease 0.3s;
}

/* Creates the Same Button but with a Different Location/Size for "Toggling Music" */
.musicbtngreen {
    background-color: #42FC6F;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
    color: black;
    font-size: 20px;
    padding: 3px 4px 3px 4px;
    border: inset;
    border-color: black;
    border-width: 2px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
	line-height: 20px;
    margin: 4px;
    cursor: pointer;
    transition: all ease 0.3s;
	position: fixed;
	top: 59.1%;
	left: 65.1%;
}

.musicbtnred {
    background-color: #FF4649;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
    color: black;
    font-size: 20px;
    padding: 3px 4px 3px 4px;
    border: inset;
    border-color: black;
    border-width: 2px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
	line-height: 20px;
    margin: 4px;
    cursor: pointer;
    transition: all ease 0.3s;
	position: fixed;
	top: 59.1%;
	left: 65.1%;
}

.musicbtngreen:hover {
	background-color: #42FC6F;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 0.5px 2px 0px black;
    -moz-box-shadow: 0.5px 2px 0px black;
    box-shadow: 0.5px 2px 0px black;
    text-decoration: none;
}

.musicbtnred:hover {
	background-color: #FF4649;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 0.5px 2px 0px black;
    -moz-box-shadow: 0.5px 2px 0px black;
    box-shadow: 0.5px 2px 0px black;
    text-decoration: none;
}

/* Creates the Same Button but with a Different Location for "Level Selection" */
.titlebtn {
    background-color: #E0E0E0;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 20px;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: inset;
    border-color: black;
    border-width: 2px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 4px;
    cursor: pointer;
    transition: all ease 0.3s;
	position: absolute;
    top: 36%;
    transform: translateY(-50%);
    left: 18.1%;
	/* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
}

/* Creates the Same Button but with a Different Location for the "Open Portfolio" */
.mbtn {
    background-color: #E0E0E0;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: black;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    border: inset;
    border-color: black;
    border-width: 2px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
	position: absolute;
    top: 36%;
    transform: translateY(-50%);
    left: 65.45%;
    margin: 4px;
    cursor: pointer;
    transition: all ease 0.3s;
}

/* Creates the Same button but with a Different Size (Padding) and Margin Inbetween Them */
.fakebtn {
    background-color: #E0E0E0;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: black;
    font-size: 20px;
    padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 9px;
	padding-right: 9px;
    border: inset;
    border-color: black;
    border-width: 2px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
	left: 25%;
    cursor: pointer;
}

.fakebtn3 {
    background-color: #E0E0E0;
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    color: black;
    font-size: 20px;
    padding-top: 0.5px;
	padding-bottom: 0.5px;
	padding-left: 8px;
	padding-right: 8px;
    border: inset;
    border-color: black;
    border-width: 2px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    cursor: pointer;
}

.pinform {
	border-style: outset;
    border-width: 2px;
    border-color: #CDCDCD;
    background-color: black;
    border-radius: 25px;
	-webkit-box-shadow: 2px 4px 5px black;
    -moz-box-shadow: 2px 4px 5px black;
    box-shadow: 2px 4px 5px black;
    color: white;
    text-align: center;
    line-height: 75px;
    padding: 7px;
    font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", monospace;
	height: 10px;
    width: 120px;
	max-width: 120px;
	max-height: 10px;
    font-size: 20px;
    margin: auto;
	pointer-events: none;
	cursor: default;
}

/* Changes the CSS of the Btn when hovered over, Makes the button look like its being "pressed" [Note: All of the "hover" css are relatively the same, if not exactly the same. A shadow that moves into the button to create the "pressed" feel and then makes the button turn a yellow color (#FFFD00) */

.btn:hover {
    background-color: #FFFD00;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 0.5px 2px 0px black;
    -moz-box-shadow: 0.5px 2px 0px black;
    box-shadow: 0.5px 2px 0px black;
    text-decoration: none;
}

.titlebtn:hover {
    background-color: #FFFD00;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 0.5px 2px 0px black;
    -moz-box-shadow: 0.5px 2px 0px black;
    box-shadow: 0.5px 2px 0px black;
    text-decoration: none;
}

.mbtn:hover {
    background-color: #FFFD00;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 0.5px 2px 0px black;
    -moz-box-shadow: 0.5px 2px 0px black;
    box-shadow: 0.5px 2px 0px black;
    text-decoration: none;
}

.fakebtn:before {
	 background-color: #FFFD00;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
    text-decoration: none;
}

.fakebtn:active {
	background-color: #FFFD00;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 0.5px 2px 0px black;
    -moz-box-shadow: 0.5px 2px 0px black;
    box-shadow: 0.5px 2px 0px black;
    text-decoration: none;
}

.fakebtn:focus {
	outline:0;
}

.fakebtn3:before {
	 background-color: #FFFD00;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
    text-decoration: none;
}

.fakebtn3:active {
	background-color: #FFFD00;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 0.5px 2px 0px black;
    -moz-box-shadow: 0.5px 2px 0px black;
    box-shadow: 0.5px 2px 0px black;
    text-decoration: none;
}

.fakebtn3:focus {
	outline:0;
}

/* A modal is basically an element that has a opacity of 0, and then is changed to 1 after clicked a #link (in this case #OpenModal and #OpenModal2) */
/* Written by Michael Woo - Referenced the w3schools tutorial on modals */
/* Defines the Look of the Portfolio Modal */
.modalDialog {
    position: fixed;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
	z-index: 99999;
	/* Creates a rgba(0, 0, 0, 0.6) Blur over the Entire Page */
    background: rgba(0, 0, 0, 0.6);
    opacity: 0;
	/* Makes it so there isn't any pointer interaction with the modal while it has a 0 opacity (For example, since the text box is in the middle of the page, the cursor changes to the one that is used when looking at text. The "I"-looking one. If pointer-events = none, then the cursor is just the default cursor. */
    pointer-events: none;
    visibility: hidden;
}

.modalDialog:target {
	/* Changes the Modal Opacity to 1 so it can be seen */
	transform: scale(1);
    opacity: 1;
	visibility: visible;
    pointer-events: auto;
}

.modalDialog>div {
    width: 700px;
    position: relative;
    margin: 10% auto;
    left: 0%;
    top: 0%;
    padding: 5px 20px 13px 20px;
    border-radius: 20px;
    background-color: #E0E0E0;
	/* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 7px 7px 0px black;
    -moz-box-shadow: 7px 7px 0px black;
    box-shadow: 7px 7px 0px black;
}

.modaldialogspinin {
	visibility: visible !important;
    animation-name: spinin;
	animation-duration: 1s;
	-webkit-animation-name: spinin;
	-webkit-animation-duration: 1s;
    -moz-animation-name: spinin;
	-moz-animation-duration: 1s;
}

@keyframes spinin {
	from { 
		transform: rotate(0deg) scale(0,0);
	}
	to {
		transform: rotate(360deg) scale(1,1);
	}
}

@-webkit-keyframes spinin {
	from {
		-webkit-transform: rotate(0deg) scale(0,0);
		transform: rotate(0deg) scale(0,0);
	}
	to {
		-webkit-transform: rotate(360deg) scale(1,1);
		transform: rotate(360deg) scale(1,1);
	}
}

@-moz-keyframes spinin {
	from {
		-moz-transform: rotate(0deg) scale(0,0);
		transform: rotate(0deg) scale(0,0);
	}
	to {
		-moz-transform: rotate(360deg) scale(1,1);
		transform: rotate(360deg) scale(1,1);
	}
}

/* Creates a close button that links the Modal back out to with a #close link*/
.close {
    background: #E0E0E0;
    color: #000000;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
    cursor: pointer;
}

/* Defines the Look of the Button When it is Hovered over. Same as all buttons on the site */
.close:hover {
    background: #FFFD00;
	/* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 0.5px 2px 0px black;
    -moz-box-shadow: 0.5px 2px 0px black;
    box-shadow: 0.5px 2px 0px black;
    text-decoration: none;
}

/* Defines the Look of the Panel Modal */
.modalDialog2 {
    position: fixed;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    top: 63.5%;
    transform: translateY(-50%);
    left: 19.1%;
	z-index: 99999;
    opacity: 0;
    pointer-events: none;
}

.modalDialog2:target {
	/* Changes the Modal Opacity to 1 so it can be seen */
    opacity: 1;
    pointer-events: auto;
}

.modalDialog2>div {
    width: 145px;
    height: 310px;
    position: relative;
    margin: auto;
    left: 0%;
    top: 0%;
    padding: 5px 20px 13px 20px;
    border-radius: 40px;
    background-color: #CDCDCD;
	border-style: solid;
	color: black;
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 30px;
}

/* Creates a close button that links the Modal back out to with a #close link*/
.close2 {
    background: #E0E0E0;
    color: #000000;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
	font-size: 16px;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
    cursor: pointer;
    transition: all ease 0.3s;
}

.close2:hover {
    background: #FFFD00;
	/* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 0.5px 2px 0px black;
    -moz-box-shadow: 0.5px 2px 0px black;
    box-shadow: 0.5px 2px 0px black;
    text-decoration: none;
}

/* Defines the Look of the Panel Modal */
.modalDialog3 {
    position: fixed;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	z-index: 99999;
    opacity: 0;
    pointer-events: none;
}

.modalDialog3:target {
	/* Changes the Modal Opacity to 1 so it can be seen */
    opacity: 1;
    pointer-events: auto;
}

.modalDialog3>div {
    width: 145px;
    height: 280px;
    position: relative;
    margin: auto;
    left: 0%;
    top: 0%;
    padding: 5px 20px 13px 20px;
    border-radius: 40px;
    background-color: #CDCDCD;
	border-style: solid;
	color: black;
    text-align: center;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    font-size: 30px;
}

/* Creates a close button that links the Modal back out to with a #close link*/
.close3 {
    background: #E0E0E0;
    color: #000000;
    line-height: 25px;
    position: absolute;
    right: -12px;
    text-align: center;
    top: -10px;
    width: 24px;
    text-decoration: none;
	font-size: 16px;
    font-weight: bold;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    /* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 2px 4px 0px black;
    -moz-box-shadow: 2px 4px 0px black;
    box-shadow: 2px 4px 0px black;
    cursor: pointer;
    transition: all ease 0.3s;
}

.close3:hover {
    background: #FFFD00;
	/* Creates a Shadow, -h -v -blur -color */
    -webkit-box-shadow: 0.5px 2px 0px black;
    -moz-box-shadow: 0.5px 2px 0px black;
    box-shadow: 0.5px 2px 0px black;
    text-decoration: none;
}